<div class="content">
	<header>
		<div class="main-title">
			<h1>Lorem ipsum sit dolor</h1>
			<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
			<div class="control-panel">
				<a href="#"><i class="c-item ion-checkmark"></i></a>
				<a href="#"><i class="c-item ion-loop"></i></a>
				<a href="#"><i class="c-item ion-ios-gear"></i></a>
			</div>
		</div>

		<div class="search">
			<label class="ion-search" for="search" autocomplete="off"></label>
			<input type="text" id="search" placeholder="Search">
		</div>
	</header>
	<div class="wall">
		<div class="wall-wrap">
			//= one-post.html
			//= one-post.html
			//= one-post.html
		</div>
	</div>
	<div class="aside">
		//= aside.html
	</div>
</div>
