</div>
</diw>
<footer>
	<div class="f-menu">
		<a href="javascript:void(0)">About</a>
		<a href="javascript:void(0)">Legal information</a>
		<a href="javascript:void(0)">Contact</a>
		<a href="javascript:void(0)">Terms Of Service</a>
		<a href="javascript:void(0)">Privacy Policy</a>
	</div>
	<div class="copy">
		<p>Dedicated to share top quality open source resources for web developer and web designer daily.</p>
		<p>© 2015 All rights reserved</p>
	</div>
</footer>
<script src="assets/jquery.js"></script>
<script src="assets/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>