<div class="one-post">
	<a href="javascript:void(0)">
		<div class="post-head">
			<h2>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</h2>
		</div>
		<div class="post-body">
			<img src="img/1683647.png" alt="">
			<span class="p-time">05.12.2015</span>
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nobis voluptatibus aperiam assumenda odio itaque, dolore doloribus ratione similique natus rerum dolor dignissimos commodi, veritatis asperiores voluptate non, fuga vitae necessitatibus maiores! Earum maxime quaerat quam autem possimus alias assumenda saepe unde error dolorem vel rerum deleniti iste eligendi consectetur, nobis impedit tempore in, cum quod omnis quasi ipsa iusto.</p>
		</div>
	</a>
</div>