<div class="menu">
	<div class="menu-head">
		<a href="javascript:void(0)" class="ion-navicon sh-menu"></a>
	</div>
	<div class="menu-list">
		<div class="menu-wrap">
			<ul>
				<li>
					<a href="javascript:void(0)" class="sub">
						<i class="ion-ios-book-outline visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Чтитать</span>
					</a>
 					<ul class="submenu">
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
						<li><a href="#">Lorem ipsum</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="ion-ios-compose-outline visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Писать</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="ion-ios-pricetags-outline visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Закладки</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="fa fa-cogs visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Мои публикации</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="fa fa-cogs visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Управление списками</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="ion-ios-gear-outline visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Настройки профиля</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="fa fa-save visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Сохранённое</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<i class="ion-ios-information-outline visible-md-inline show-wmin"></i>
						<span class="visible-lg-block hide-wmin">Информация</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>